<!-- заголовок можна видаляти, теги main залишаємо -->
<!--Contact page-->

<main>
  <div class="contact-page">
    <!--Contact page hero section-->

    <section class="contact-page__hero">
      <h1>КОНТАКТИ</h1>
      <div class="contact-page__hero-wrapper">
        <div class="video-wrapper contact-page__hero-item">
          <iframe
            class="embedded-video"
            src="https://www.youtube.com/embed/n_muoXfXlEg"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <ul class="contact-page__hero-item hero-description">
          <li class="hero-description__item">
            <p>
              Людина, уперше побачивши процес 3D друку, може легко захопитися спостереженням за цим
              процесом не на десяток хвилин.
            </p>
          </li>
          <li class="hero-description__item">
            <p>
              Наша команда створює timelapse відео, щоб ви могли краще ознайомитися з технологією 3D
              друку і просто помилуватися красою цього процесу.
            </p>
          </li>
          <li class="hero-description__item">
            <p>Приємного перегляду!</p>
          </li>
        </ul>
      </div>
    </section>

    <!--Contact page contact information-->

    <section class="contact-page__contacts">
      <h2>ТЕЛЕФОНИ</h2>
      <ul class="contact-page__contacts-list">
        <li class="contact-page__contacts-item"></li>
        <li>
          <a href="tel:+380957384551" class="link">+38 (095) -73-84-551</a>
        </li>
        <li>
          <a href="tel:+380980025235" class="link">+38 (098) -00-25-235</a>
        </li>
      </ul>

      <h2>Email</h2>
      <ul class="contact-page__contacts-list">
        <li class="contact-page__contacts-item"></li>
        <li>
          <a href="mailto:3dfreeform.info@gmail.com" class="link">3dfreeform.info@gmail.com</a>
        </li>
      </ul>

      <h2>РОБОЧИЙ ЧАС</h2>
      <ul class="contact-page__contacts-list">
        <li class="contact-page__contacts-item"></li>
        <li>Пн-пт: з 8:00 до 19:00</li>
        <li>Сб, Нд: з 10:00 до 17:00</li>
      </ul>
    </section>

    <!--Contact page contact form-->

    <section class="contact-page__contact-form">
      <div>
        <h2>ЗВ'ЯЖІТЬСЯ З НАМИ</h2>
        <form action="">
          <label
            >Ім'я
            <input
              type="text"
              placeholder="Олексій"
              name="username"
              minlength="2"
              title="Мінімум 2 символи"
              required
            />
          </label>
          <label>
            <input
              type="email"
              name="email"
              placeholder="Email"
              required
            />
          </label>

          <label for="user_comments">Повідомлення</label>
          <textarea
            name="comments"
            id="user_comments"
            placeholder="Залишіть своє повідмлення"
          ></textarea>
          <p>*Прикріпіть зображення/креслення/STL/Obj/CAD-модель</p>
          <button type="submit">ВІДПРАВИТИ</button>
        </form>
      </div>
    </section>
  </div>
</main>
