<footer class="footer">
  <div class="container footer__container">
    <!--LOGO-->
    <img
      class="footer-logo"
      href="./index.html"
      src="./images/svg/logo.svg"
      alt="Логотип 3DFreedom"
    />

    <div class="footer__container-fortablet">
      <!--NAVIGATION-->
      <nav class="navigation">
        <ul class="navigation__list list">
          <li class="navigation_item">
            <a href="#" class="navigation__link link paragraph-text">Головна</a>
          </li>
          <li class="navigation_item">
            <a href="#" class="navigation__link link paragraph-text">3D Моделювання</a>
          </li>
          <li class="navigation_item">
            <a href="#" class="navigation__link link paragraph-text">3D Сканування</a>
          </li>
          <li class="navigation_item">
            <a href="#" class="navigation__link link paragraph-text">3D Друк</a>
          </li>
          <li class="navigation_item">
            <a href="#" class="navigation__link link paragraph-text">Замовити</a>
          </li>
          <li class="navigation_item">
            <a href="#" class="navigation__link link paragraph-text">Контакти</a>
          </li>
        </ul>
      </nav>

      <!--SOCIAL LINK-->
      <div class="footer-social">
        <ul class="footer-social__list list">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link link paragraph-text">Instagram</a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link link paragraph-text">YouTube</a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link link paragraph-text">Facebook</a>
          </li>
        </ul>
      </div>

      <!--ADDRESS-->
      <address class="footer-address">
        <ul class="footer-address__list list">
          <li class="footer-address__item footer-address__item-mail">
            <p class="footer-address__item paragraph-text">Email</p>
            <a href="mailto:3dfreedom.info@gmail.com" class="footer-address_link link">
              3dfreedom.info@gmail.com
            </a>
          </li>
          <li class="footer-address__item">
            <p class="footer-address__item paragraph-text">Телефони</p>
            <a href="tel:+380936432288" class="footer-address_link link"> +38 (093) 643 22 88 </a>
          </li>
          <li class="footer-address__item">
            <a href="tel:+380503454423" class="footer-address_link link"> +38 (050) 345 44 23 </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
