<!-- Контент можна видаляти, теги footer залишаємо-->
<footer>

    <a class="link btn__make-order" href="./order.html">Зробити замовлення</a>
    <p>клас називається btn__make-order, додатково треба задавати клас link</p>

    <br><hr>
   
    <button type="submit" class="btn__send-form">Відправити</button>
    <p>клас називається btn__send-form</p>
    <hr>

    <p class="main__title-section">Головний заголовок</p>
    <p>клас називається main__title-section</p>
    <br>
    <p class="second__title-section">Заголовок другого рівня</p>
    <p>клас називається second__title-section</p>
    <br>
    <p class="paragraph-text">Параграф</p>
    <p>клас називається paragraph-text</p>

</footer>