<!-- список можна видаляти, теги header залишаємо-->
<header class="header-container">
  <div class="header--align">
        <nav class="site-nav">
          <a href="./index.html" class="link"><img src="./images/svg/logo.svg" alt="Логотип 3DFreedom" class="header-logo"></a>
          <ul class="list header-menu">

            <li class="header-menu__item"><a href="./index.html" class="link header-menu__item-link">Головна</a></li>
        
            <li class="header-menu__item">
              <a href="#" class="link header-menu__item-link services-menu"><div class="services-bg"></div>Послуги
                <svg width="10" height="4" aria-label="Стрілка випадаючого меню" class="drop-down-arrow"><use href="./images/svg/icons.svg#header-down"></use></svg></a>
              <ul class="list submenu">
                <li class="submenu__item"><a class="link submenu__item-link" href="./modeling.html">3D Моделювання</a></li>
                <li class="submenu__item"><a class="link submenu__item-link" href="./scanning.html">3D Сканування</a></li>
                <li class="submenu__item"><a class="link submenu__item-link" href="./print.html">3D Друк</a></li>
              </ul>
            </li>

            <li class="header-menu__item"><a href="./order.html" class="link header-menu__item-link">Замовити</a></li>

            <li class="header-menu__item"><a href="./contacts.html" class="link header-menu__item-link">Контакти</a></li>

          </ul>
          
          <ul class="list languages">
            <li><a href="#" class="link lang">Eng</a></li>
            <li><a href="#" class="link lang other-langs">Ukr</a></li>
            <li><a href="#" class="link lang other-langs">Rus</a></li>
          </ul>
        </nav>

        <ul class="list phones-list">
          <li class="phones-list--item">
              <a href="tel:+380936432288" class="link phone-list__number">
                  <svg class="phone-icon">
                      <use href="./images/svg/icons.svg#phone"></use>
                  </svg>
                  +38 (093) 643 22 88</a>
          </li>
          <li>
              <a href="tel:+380503454423" class="link phone-list__number">
                <svg class="phone-icon">
                      <use href="./images/svg/icons.svg#phone"></use>
                  </svg>
                  +38 (050) 345 44 23</a>
          </li>
         </ul>
    </div>

    <ul class="small-menu">
      <li><a href="./modeling.html">3D Моделювання</a></li>
      <li><a href="./scanning.html">3D Сканування</a></li>
      <li><a href="./print.html">3D Друк</a></li>
      <li><a href="./order.html">Замовити</a></li>
      <li><a href="./contacts.html">Контакти</a></li>
    </ul>
      
</header>