<!-- MAIN-HERO-SECTION -->
<section class="main-hero section">
    <div class="container">
  <h1 class="main-hero__title">Інженерна, конструкторська <br>
    та дизайнерська робота</h1>
    <ul class="main-hero__list list">
        <li class="main-hero__item">
            <picture class="picture">
                <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop1.jpg 1x, /images/main-hero/desktop/hero-desktop1@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet1.jpg 1x, /images/main-hero/tablet/hero-tablet1@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile1.jpg 1x, /images/main-hero/mobile/hero-mobile1@2x.jpg 2x">
            <img class="main-hero__img1" src="/images/main-hero/mobile/hero-mobile1.jpg" alt="білий робот">
            </picture>
        </li>
        <li class="main-hero__item">
            <picture class="picture">
                <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop2.jpg 1x, /images/main-hero/desktop/hero-desktop2@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet2.jpg 1x, /images/main-hero/tablet/hero-tablet2@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile2.jpg 1x, /images/main-hero/mobile/hero-mobile2@2x.jpg 2x">
                <img class="main-hero__img2" src="/images/main-hero/mobile/hero-mobile2.jpg" alt="дві настільні лампи">
            </picture>
        </li>
        <li class="main-hero__item">
            <picture class="picture">
                <source media="(min-width: 1440px)" srcset="/images/main-hero/desktop/hero-desktop3.jpg 1x, /images/main-hero/desktop/hero-desktop3@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="/images/main-hero/tablet/hero-tablet3.jpg 1x, /images/main-hero/tablet/hero-tablet3@2x.jpg 2x">
                <source media="(min-width: 320px)" srcset="/images/main-hero/mobile/hero-mobile3.jpg 1x, /images/main-hero/mobile/hero-mobile3@2x.jpg 2x">
                <img class="main-hero__img3" src="/images/main-hero/mobile/hero-mobile3.jpg" alt="білий череп">
            </picture>
        </li>
    </ul>
    <p class="main-hero__text">Ми втілюємо ідеї в реальність</p>
</div>
</section>