<!-- абзац можна видаляти, теги main залишаємо -->
<main>
    <section class="modeling">
        <div class="container">
            <h1 class="modeling__title">3d моделювання</h1>
            <p class="modeling__text">Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер при розробці моделі.</p>
            <p class="modeling__text">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
            <h2 class="modeling__heading">Способи створення моделі:</h2>
            <ul class="modeling__list">
                <li class="modeling__item">3D сканування</li>
                <li class="modeling__item">На основі фотографій з доданими розмірами</li>
                <li class="modeling__item">За ескізами з розмірами</li>
                <li class="modeling__item">За вашим кресленням</li>
                <li class="modeling__item">По вже існуючому прототипу шляхом зняття розмірів</li>
            </ul>
            <!-- здесь будет фоновая картинка -->
            <div class="modeling-hero"></div>
            <!--  -->
            <h3 class="modeling__caption">Ми створюємо фотореалiстичнi 
                зображення моделей</h3>
            <ul class="modeling__caption-list">
                <li class="modeling__caption-img">
                    <img src="" alt="">
                </li>
                <li class="modeling__caption-img">
                    <img src="" alt="">
                </li>
                <li class="modeling__caption-img">
                    <img src="" alt="">
                </li>
                <li class="modeling__caption-img">
                    <img src="" alt="">
                </li>
            </ul>
            <!-- клас на кнопку вставлю когда будут переменные -->
            <button type="submit" class="">Зробити замовлення</button>
        </div>            
    </section> 
</main>