
.header-container {
    outline: green 1px solid;
    width: 1280px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.site-nav {
    display: flex;
}

.header-menu {
    display: flex;
    flex-basis: 470px;
    justify-content: space-between;
    margin-right: 106px;
}

.submenu {
    display: none;

    position: absolute;
    left: 0;
    top: 32%;
    width: 100%;
}


.drop-down-arrow {
    fill: var(--main-icon-color);
    position: absolute;
    top: 19%;
    left: 77%;
}

.header-menu__item {
    outline: orange 1px solid;

    position: relative;


    &:hover .submenu {
        display: block;
    }

    &:hover .drop-down-arrow {
        transform: rotate(180deg);
    }
}

.header-logo {
    padding-top: 10px;
    padding-bottom: 75px;
    margin-right: 213px;    
}

.header-menu__item-link {
    display: block;
    padding: 14px 0px 8px 0px;

    font-family: var(--second-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    text-align: center;

    transition: color 250ms linear;

    
    &:hover {
        color: var(--main-icon-color);
      }
}

.submenu__item-link {
    display: block;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    text-align: center;
    padding-bottom: 6px;

    transition: color 250ms linear;

    
    &:hover {
        color: var(--main-icon-color);
      }
}

.services-menu {
    width: 144px;
}

.services-bg { 
    width: 304px;
    height: 251px;
    position: absolute;
    top: -23%;
    left: -42%;
    background-image: url('../images/header/menu-bg.png');  
    z-index: -1;
}

.languages {
    padding-top: 11px;
}

.other-langs {
  visibility: hidden;
}

.languages:hover .other-langs {
    visibility: visible;
}

.lang {
    display: block;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.01em;
    color: #BDBDBD;
    padding: 3px;
    text-transform: uppercase;

    &:hover {
        color: var(--main-icon-color);
    }
}

.phones-list {
margin-left: auto;
}

.phone-icon {
    width: 14px;
    height: 14px;
    fill: var(--main-icon-color);
}

.phone-list__number {
    font-family: var(--second-fon);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.phones-list--item{
    margin-bottom: 10px;
}