.more-photos__section {
  padding-top: 26px;
  padding-bottom: 26px;
}

.more-photos__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;

  margin-bottom: 16px;
}

// ****************************

@media screen and (max-width: 1439px) {
  .full-gallery--hidden {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .gallery--hidden {
    display: none;
  }
}

// **************************

@media screen and (max-width: 767px) {
  .more-photos__item--hidden {
    display: none;
  }

  .more-photos__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .more-photos__item:not(:first-child) {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .more-photos__title {
    margin-bottom: 32px;
  }

  .more-photos__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-top: -19px;
  }

  .more-photos__item {
    margin-left: 18px;
    margin-top: 19px;
    // кастыль 18px ))))

    flex-basis: auto;
  }

  // Способ 2 **********************************************

  // .more-photos__item {
  //   margin-right: 19px;
  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }
  //   &:nth-child(n + 4) {
  //     margin-top: 19px;
  //   }
  // }
}

@media screen and (min-width: 1440px) {
  .more-photos__section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .more-photos__title {
    margin-bottom: 52px;
    max-width: 624px;
  }

  .more-photos__list {
    margin-left: -32px;
    margin-top: -32px;
  }

  .more-photos__item {
    margin-left: 32px;
    margin-top: 32px;
  }

  //  Способ 2 **********************************************
  // .more-photos__item {
  //   margin-right: 32px;
  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }
  //   &:nth-child(n + 4) {
  //     margin-top: 32px;
  //   }
  // }

  // ********************

  // .gallery--hidden {
  //   display: none;
  // }

  // ***********************
}
